.blog-post{
    text-decoration: none;
    color: rgb(200, 200, 200);
    width: 100%;
    border-radius: 4px;
}

.post-title{
    font-size: 24px;
    color: rgb(106, 129, 178);
}

.blog-post p:hover{
    color: white;
}

.blog-post h2:hover{
    color: rgb(67, 99, 167);
}

.blog-post p{
    font-size: 11px;
}

main img{
    max-width: 950px;
}

.blog-post .post-description{
    font-size: 16px;
    color: rgb(255, 255, 255);
    opacity: .8;
    margin-bottom: 15px;
}

.blog-post .post-date{
    margin-bottom: 5px;
}

.article{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.article div{
    max-width: 760px;
}

.article h1,
.article h2,
.article h3,
.article p,
.article a,
.article ul li {
    margin-bottom: 30px;
}

.article p{
    opacity: .75;
}
