{% extends "base.html" %}

{% block content %}
    <br>


    <div class="home-landing">
        <div>
            <h2>Hi, I'm lucasof! 👋</h2>
            <p>Welcome to my website, it serves as my personal home base 
            on the internet, feel free to explore the content.</p>

            <button><a href="{{baseurl}}whoami.html">Learn more</a></button>
        </div>
        
    </div>

    <style>
        .home-landing{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: rgba(245, 236, 236, 0.7);
            max-width: 480px;
            height: 50vh;
        }

        .home-landing h2{
            font-size: 48px;
            color: white;
        }

        .home-landing button{
            background-color: rgb(44, 72, 233);
            padding: 7px 15px 7px 15px;
            border-radius: 2px;
            border: none;
            color: white;
            font-size: 18px;
            opacity: .8;
        }

        button a{
            color: white;
        }
        button:hover{
            opacity: 1;
        }
    </style>

{% endblock %}