{% extends "base.html" %}

{% block content %}
    <br>


    <h2>My Projects:</h2>
    <p>Many projects were not included because I did not consider 
        them worthy of being here. A general list of what I worked on
        can be found on my <a href="https://github.com/lukazof">github</a></p>

    <div style="background-color: red; width: 100%; color: white; text-align: center;"><p>Warning: this page is under development!</p></div>
    <div class="my-projects">
        <div class="project">
            <div>
                <h3>lucasof.site</h3>
                <p>This is the website you are on right now!
                  I created this site using Sliver, which you should see
                  in the list of projects on the sidebar.
                  
                  <br><br>
      
                  There's not much to say about this site; I wanted to keep it
                  as simple as possible.</p>
            </div>
          
            <div class="proj-buttons">
                <button class="repo-btn"><a href="https://github.com/lukazof/lucasof.site" target="_blank">Repository</a></button>
                <button class="site-btn"><a href="https://lucasof.site" target="_blank">Website</a></button>
            </div>
            
        </div>
        <div class="project">
            <div>
                <h3>Sliver</h3>
                <p>This is a Python project I created to better manage my website (this website).
                  It can generate static websites/blogs using predefined configurations and styles.</p>
            </div>
          
            <div class="proj-buttons">
                <button class="repo-btn"><a href="https://github.com/lukazof/sliver" target="_blank">Repository</a></button>
                <button class="site-btn"><a href="https://sliver.trivalent.tech" target="_blank">Website</a></button>
            </div>
            
        </div>
        <div class="project">
            <div>
                <h3>PureChessLib</h3>
                <p>PureChess is a chess library created in C#. Importing it into your project
                  allows you to store chess games and moves. The library handles all aspects of 
                  creating the chessboard, move validation, and more.
                  </p>
            </div>
          
            <div class="proj-buttons">
                <button class="repo-btn"><a href="https://github.com/lukazof/purechesslib" target="_blank">Repository</a></button>
                <button class="site-btn"><a href="https://purechess.trivalent.tech" target="_blank">Website</a></button>
            </div>
            
        </div>
        <div class="project">
            <div>
                <h3>Rede Império</h3>
                <p>Império (in english, Empire) is a network of Minecraft servers that I created a few years ago. It emerged
                    as a continuation of "RedeChiqueiro," a server that a friend and I created. The server was quite popular,
                    with over 500 registered unique members at one point.
                    <br><br>
                    Currently, Império is offline, but I plan to bring the servers back online in the near future.
    
                </p>
            </div>

            <div class="proj-buttons">
                <button class="repo-btn"><a href="https://github.com/redeimperio/imperio" target="_blank">Repository</a></button>
                <button class="site-btn"><a href="https://imperio.lucasof.site" target="_blank">Website</a></button>
            </div>
            
           
          </div>

          <div class="project">
            <div>
                <h3>Spot Engine</h3>
                <p>PureChess is a chess library created in C#. Importing it into your project
                  allows you to store chess games and moves. The library handles all aspects of 
                  creating the chessboard, move validation, and more.
                </p>
            </div>
            
            <div class="proj-buttons">
                <button class="repo-btn"><a href="https://github.com/trivalentcorp/spotengine" target="_blank">Repository</a></button>
                <button class="site-btn"><a href="https://spot.trivalent.tech" target="_blank">Website</a></button>
            </div>

          </div>
      </div>

    <style>
    .my-projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project {
        width: calc(30% - 10px); 
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: rgba(7, 7, 7, 0.9);
        text-align: justify;
        min-height: 300px;
        max-height: fit-content;
        margin-right: 5px;
        min-width: 360px;
        max-width: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project h3 {
        font-size: 24px;
        margin-bottom: 10px;
        color:rgb(124, 158, 207);
    }

    .project p {
        font-size: 16px;
    }

    .proj-buttons{
        display: flex;
        justify-content: center;
    }

    .project button{
        margin-right: 5px;
        background-color: rgb(55, 55, 73);
        padding: 5px 15px 5px 15px;
        border: none;
        border-radius: 4px;
        font-size: 18px;
    }

    .project button a{
        color: white;
    }

    a{color:rgb(87, 104, 197)}
    </style>

{% endblock %}