{% extends "base.html" %}

{% block content %}
    <br>


    <div class="home-landing">
        <div>
            <h2>About:</h2>
            <p>My name is Lucas, I'm a Programmer who likes to create stuff that I find interesting.
                I started in 2015 with just 10 years old using VB.Net and also creating Minecraft Servers.

                <br><br>

                Nowadays, I'm more focused on Game Development, but I still do other things when I find myself 
                doing it.
                
                <br><br>
                You can see what I'm working on (and worked) by <a href="{{baseurl}}projects.html">clicking here.</a></p>

                <br>

                <img src="assets/img/gifs/programming1-gif.gif" width="360px">

                <p style="font-size: 11px; opacity: .5; font-style: italic;">Totally accurate programming reference*</p>

        </div>
        
    </div>

    <style>
        .home-landing{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: rgba(245, 236, 236, 0.7);
            max-width: 640px;
            min-height: 50vh;
            padding: 5px;
        }

        .home-landing a{
            color: rgb(50, 70, 230);
        }

        .home-landing h2{
            font-size: 36px;
            color: white;
        }

        .home-landing button{
            background-color: rgb(44, 72, 233);
            padding: 7px 15px 7px 15px;
            border-radius: 2px;
            border: none;
            color: white;
            font-size: 18px;
            opacity: .8;
        }

        button a{
            color: white;
        }
        button:hover{
            opacity: 1;
        }
    </style>

{% endblock %}