*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    align-items: center;
    min-width: 100%;
    font-size: 17px;
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(14,14,19,1) 85%, rgba(11,11,15,1) 100%);
    color: white;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    margin-top: 30px;
    max-width: 960px;
    width: 100%;
}


a{
    text-decoration: none;
}